<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Users Admin Page</h2>
    <a href="/users/add">Add Users</a>
    <ol>
        <% users.forEach(element => { %>
            <li>
                <strong><%= element.name %></strong>
                <p>Email: <%= element.email %></p>
                <p>Role: <%= element.role %></p>
                <a href="/users/<%= element._id %>/edit">Edit</a>
                <a href="/users/<%= element._id %>/delete">Delete</a>
            </li>
            
        <% }); %>
    </ol>
</body>
</html>